# Entorno virtual
venv/
env/
ENV/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# Configuraciones locales
*.env
*.DS_Store
.idea/
.vscode/

# Bases de datos locales
*.sqlite3

# Carpeta de migraciones (si usas Flask-Migrate o Alembic)
migrations/

# Caché de pytest
.pytest_cache/
