# Entornos virtuales
venv/
env/
.venv/
ENV/

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de configuración de editores
.vscode/
.idea/

# Carpeta de instancia de Flask (para secretos)
instance/

# Archivos de base de datos SQLite
*.db
*.sqlite3
